body{
    background-color: darksalmon;
    
}

.col1 input{
    border: black 1px solid;

}
.col2 {
    
    position: absolute;
    top: 121px;
    left: 256px;
   
}
.col2 input{
    border: black 1px solid;
    /* width: 150px; */
}
.col4{
    position: absolute;
    top: 442px;
    left: 256px;
}
#inp1{
    width: 520px;
    height: 40px;
}