*{
    box-sizing: border-box;
}
.story-main{
    float: left;
    margin: 0 auto;
}
.text-left h2{
text-transform: uppercase;
color: black;
text-align: left;
width: 600px;
line-height: 75%;
font-size: 30px;
}
h2{
    margin-top: 0;
    margin-bottom: 10px;
}
.story-main section.page1{
  background-image: url(rel-1.jpg);  
  background-size: cover;
  background-position: center;
 
  
}

.story-main section{
    overflow: hidden;
}
section{
    clear: both;
    display: block;
    
}
.story-main section.pages.active{
-moz-animation: imageAnimation 30s linear infinite 0s;
animation-name: imageAnimation;
animation-duration: 30s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
animation-delay: 0s;
background-repeat: no-repeat;
}
.story-main .pages.active .text-left p{
    margin-left: 0px;
    transition: all 1.6s;
    transition-property: all;
    transition-duration: 1.6s;
    transition-timing-function: ease;
    transition-delay: 0.5s;
}
.story-main .pages.left-img img{
    right: 0px;
    bottom: 0px;
}
.story-main .page1 img{
    width: 439px;

}
.story-main .pages img{
    position: absolute;
}
.story-main section > img{
max-width: 100%;
}
img{
    border: 0;
}