body{
    background-color: rgb(70, 197, 70);
   
    
}
h1{
    color: rgb(3, 14, 3);
    text-align: center;
}
.row{
    color: rgb(7, 10, 7);
   text-align: center;
   font-style: italic;
   font-size: 20px;
}
a{
    color:rgb(3, 83, 3);
}