h1{
    text-align: center;
    font-style: italic;
    font-size: 35px;
    color: rgb(2, 48, 2);
    background-color:lightgreen;

}
.top {
    display: flex;
    position: absolute;
    top: 25px;
    right: 20px;
    color: rgb(69, 223, 69);
}

.flona img {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 800px;
    height: 400px;
    
}
.flona p{
    background-color: darkgreen;
    position: absolute;
    
    color:white;
    top: 105px;
    bottom: 211px;
    left: 805px;
    right: 0px;
    padding: 80px;
}
h2{
    font-size: 40px;
    color: rgb(11, 63, 11);
    position: absolute;
    top: 600px;
    left: 700px;
}
.collection {
    position: absolute;
    top: 750px;
   
    display: flex;
}
.row{
    
    padding: 10px;
    
}
.row img{
    width: 290px;
    height: 500px;
}
.row p{
    text-align: center;
    color: green;
}

.readmore {
    background-color: rgb(145, 214, 145);
} 
h3{
    font-size: 30px;
    color: rgb(2, 34, 2);
    position: absolute;
    top: 1350px;
    
    left: 700px;
    
    
}
.readmore p{
    color:rgb(4, 75, 4);
    position: absolute;
    top: 1430px;
   
    left: 50px;
    right: 50px;
}
.cont{
    border: 2px solid rgb(82, 110, 82);
    width: 100%;
    height: 200px;
    position: absolute;
    margin-top: 1480px;
    background-color: rgb(32, 66, 32);
}
.cont h4{
    
    font-size: 40px;
    position: absolute;
    margin-top: 0px;
    padding: 1px;
    margin-left: 600px;
}
.cont p{
    color: white;
    position: absolute;
    margin-top: 60px;
    text-align: center;
}
.conlft p{
    position: absolute;
    color: blue;
    margin-left: 0px;
    margin-top: 140px;
}
.conrgt p{
    color: blue;
    position: absolute;
    margin-left: 1300px;
    margin-top: 140px;
}