body{
    background-color: rosybrown;
}

.pic{
    display: flex;
    width: 250px;
    height: 300px;

    padding: 50px;
}
.nav ul li{
    display: inline;
    text-decoration: none;
    float: right;
    font-size: 30px;
    padding: 5px;
    background-color:salmon;
}