body{
    background-color:pink;
    /* background-image: url(wottagirl.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}
h1{
    color:indianred;
    text-align: center;
}
.navb ul li{
   
    display: inline;
    text-decoration: none;
    float: right;
    font-size: 10px;
    background-color: bisque;
    padding: 5px;
    margin-left: 20px;
    margin-top: 5px;
    
}
.ime{
    display: flex;
    width: 400px;
    height: 400px;
    margin-left: 5px;
   
}
.ime img{
    margin-top: 30px;
    padding-right: 15px;
} 